/*Basics*/
@import url("fonts.css");
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html{
    font-family: 'Roboto',Arial, sans-serif;
    font-size: 20px;
    font-weight:normal;
    font-style: normal;
    color: #000000;
    line-height: 1.2;
}

.wrapper {
    margin: 0 auto;
}

.page-header {
    height: 135px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero {
    max-width: 1065px;
    background-image: url("../../img/logo-background.jpg");
    height: 630px;
    position: relative;
    text-align: center;
}

.hero-box {
    background-color: #FFFFFF;
    width: 56%;
    height: 360px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10.3% 1.9%;
}

/*Titles*/
.hero-title, .bio-title, .strengths-title {
    font-family: 'Play Fair Display', serif;
    font-size: 4.3rem;
    font-weight: 500;
}

.hero-description {
    font-weight: 500;
}

.bio-header, .section-name {
    font-weight: 700;
    font-size: 1rem;
}


/*Biography Section*/
    /*Lists*/
.bio {
    margin-top: 135px;
    max-width: 1175px;
    height: 840px;
    display: flex;
    align-items: flex-start;
}

.bio-header {
    writing-mode: vertical-rl;
    transform:rotate(-180deg);
    margin-left: 1.65rem;
}

.bio-img-container {
    order: -1
}

.bio-img {
    max-width: 553px;
}

.bio-info {
    display: flex;
    flex-flow: column;
    align-self: center;
    margin-left: 4.55rem;
}

.bio-skills {
    font-size: 0.9rem;
    font-weight: 500;
    margin-top: 1.25rem;
}

.bio-skills-header {
    font-weight: 500;
    font-size: inherit;
}

.bio-skills-list {
    list-style-type: none;
}

.list-item {
    display: inline-block;
}
.bio-skills li, .testimonials nav li {
    display: inline-block;
}

.bio-rectangle {
    margin-top: 3.45rem;
}

.bio-quote {
    margin-top: 0.85rem;
    font-family: 'Bitter', 'Times New Roman', Times, serif;
    font-size: 1.3rem;
}


/*Designers Section*/
.designers {
    margin-top: 169px;
}

.designer-card p {
    font-size: 0.8rem;
}


/*Testimonials Section*/
.testimonials nav a {
    color: #000000;
    text-decoration: none;
    font-size: 0.8rem;
}

.testimonials-quote {
    margin: 20px 0;
    font-family: 'Bitter', 'Times New Roman', Times, serif;
    font-size: 1.6rem;
}


/*Strengths Section*/
.strengths ul {
    list-style-type: none;
    font-family: 'Bitter', 'Times New Roman', Times, serif;
    font-size: 1.7rem;
}