/*Basics*/
@import url("fonts.css");
* {
    box-sizing: border-box;
    margin: 0;
}


html{
    font-family: 'Roboto',Arial, sans-serif;
    font-size: 20px;
    font-weight:normal;
    font-style: normal;
    color: #000000;
    line-height: 1.2;
}

.wrapper {
    margin: 0 auto;
}

.page-header {
    height: 135px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero {
    max-width: 1065px;
    background-image: url("../../img/logo-background.jpg");
    height: 630px;
    position: relative;
    text-align: center;
}

.hero-box {
    background-color: #FFFFFF;
    width: 56%;
    height: 360px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10.3% 1.9%;
}

/*Titles*/
.hero-title, .bio-title, .strengths-title {
    font-family: 'Play Fair Display', serif;
    font-size: 4.3rem;
    font-weight: 500;
}

.hero-description {
    font-weight: 500;
}

.section-name {
    font-weight: 700;
}


/*Biography Section*/
    /*Lists*/
.bio-skills {
    font-size: 0.9rem;
    font-weight: 500;
}

.bio-skills ul, .testimonials nav ul  {
    padding-left: 0;
    list-style-type: none;
}

.bio-skills li, .testimonials nav li {
    display: inline-block;
}

.bio-quote {
    margin: 20px 0;
    font-family: 'Bitter', 'Times New Roman', Times, serif;
    font-size: 1.3rem;
}


/*Designers Section*/
.designer-card p {
    font-size: 0.8rem;
}

/*Testimonials Section */
.testimonials {
    max-width: 1440px;
    margin-top: 258px; 
    padding: 0 132px;
    display: grid;
    grid-template-rows: 1fr 757px;
    
}

.tmls-title {
    font-size: 1rem;
}

.tmls-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.tmls-header {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    column-gap: 1.15rem;
}

.tmls-header-img {
    max-width: 100%;
}

.tmls-nav-list {
    display: grid;
    gap: 2.25rem;
    align-items: center;
}

.tmls-nav-item {
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    justify-self: start;
    line-height: 1.17;
}

.tmls-article {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.tmls-article-img {
    max-width: 100%;
}

.nav-link {
    color: #000000;
    text-decoration: none;
    font-size: 0.8rem;
}

.testimonials-quote {
    max-width: 37.5%;
    font-family: 'Bitter', 'Times New Roman', Times, serif;
    font-size: 1.6rem;
}


/*Strengths Section*/
.strengths ul {
    list-style-type: none;
    font-family: 'Bitter', 'Times New Roman', Times, serif;
    font-size: 1.7rem;
}